

/* --------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #009c97); z-index: 12;
  background-image: url(../img/bgForm.jpg);
  background-size: cover;

}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #131d20cc;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  color: white;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #01c76b, #5994b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}











/*-----------------------------------SPINNERS--------------------------------------------------*/


* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}
body {
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
	transition: background-color 0.3s;
}
main {
	padding: 1.5em 0;
}

.lp {
	width: 8em;
	height: 8em;
}
.lp__drops,
.lp__fall-line,
.lp__worm {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform-origin: 64px 64px;
}
.lp__drops {
	animation-name: drops;
	animation-timing-function: ease-in-out;
	stroke-dasharray: 22 307.85 22;
	visibility: hidden;
	transform: rotate(90deg);
}
.lp__fall-line {
	animation-name: fallLine1;
	animation-timing-function: ease-in;
	stroke-dasharray: 1 112;
	stroke-dashoffset: 114;
}
.lp__fall-line--delay1 {
	animation-name: fallLine2;
}
.lp__fall-line--delay2 {
	animation-name: fallLine3;
}
.lp__fall-line--delay3 {
	animation-name: fallLine4;
}
.lp__fall-line--delay4 {
	animation-name: fallLine5;
}
.lp__ring {
	stroke: hsla(var(--hue),90%,5%,0.1);
	transition: stroke 0.3s;
}
.lp__worm {
	animation-name: worm;
	stroke-dasharray: 43.98 307.87;
	stroke-dashoffset: -131.94;
	transform: rotate(-90deg);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.lp__ring {
		stroke: hsla(var(--hue),90%,95%,0.1);
	}
}

/* Animtions */
@keyframes drops {
	from {
		animation-timing-function: steps(1,end);
		stroke-dasharray: 0 351.85 0;
		visibility: hidden;
	}
	25% {
		animation-timing-function: ease-in-out;
		stroke-dasharray: 0 351.85 0;
		visibility: visible;
	}
	26% {
		stroke-dasharray: 4 343.85 4;
	}
	27% {
		stroke-dasharray: 8 335.85 8
	}
	28% {
		stroke-dasharray: 12 327.85 12;
	}
	29% {
		animation-timing-function: ease-in;
		stroke-dasharray: 17 317.85 17;
	}
	32% {
		animation-timing-function: ease-out;
		stroke-dasharray: 25 301.85 25;
	}
	35%,
	47.5% {
		animation-timing-function: linear;
		stroke-dasharray: 22 307.85 22;
		visibility: visible;
	}
	50% {
		animation-timing-function: steps(1,end);
		stroke-dasharray: 0 307.85 43.98;
		visibility: hidden;
	}
	75% {
		animation-timing-function: ease-in-out;
		stroke-dasharray: 0 351.85 0;
		visibility: visible;
	}
	76% {
		stroke-dasharray: 4 343.85 4;
	}
	77% {
		stroke-dasharray: 8 335.85 8
	}
	78% {
		stroke-dasharray: 12 327.85 12;
	}
	79% {
		animation-timing-function: ease-in;
		stroke-dasharray: 17 317.85 17;
	}
	82% {
		animation-timing-function: ease-out;
		stroke-dasharray: 25 301.85 25;
	}
	85%,
	97.5% {
		animation-timing-function: linear;
		stroke-dasharray: 22 307.85 22;
		visibility: visible;
	}
	to {
		stroke-dasharray: 43.98 307.85 0;
		visibility: hidden;
	}
}
@keyframes fallLine1 {
	from,
	15% {
		stroke-dashoffset: 114;
	}
	25%,
	65% {
		stroke-dashoffset: 1;
	}
	75%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine2 {
	from,
	16% {
		stroke-dashoffset: 114;
	}
	26%,
	66% {
		stroke-dashoffset: 1;
	}
	76%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine3 {
	from,
	17% {
		stroke-dashoffset: 114;
	}
	27%,
	67% {
		stroke-dashoffset: 1;
	}
	77%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine4 {
	from,
	18% {
		stroke-dashoffset: 114;
	}
	28%,
	68% {
		stroke-dashoffset: 1;
	}
	78%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine5 {
	from,
	19% {
		stroke-dashoffset: 114;
	}
	29%,
	69% {
		stroke-dashoffset: 1;
	}
	79%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes worm {
	from {
		animation-timing-function: ease-out;
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -131.94;
	}
	25% {
		animation-timing-function: steps(1);
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -307.86;
	}
	25.01% {
		animation-timing-function: ease-in;
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -307.86;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -175.92;
	}
	50.01% {
		animation-timing-function: ease-out;
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -131.94;
	}
	75% {
		animation-timing-function: steps(1);
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: 43.98;
	}
	75.01% {
		animation-timing-function: ease-in;
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: 0;
	}
	to {
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -131.94;
	}
}